
{% extends "static/view/mybase.html" %}
{% block title %}街居{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block header %}
    {{ super() }}
{% endblock header %}

{% block content %}
<div class="container">
  <div class="span4 offset4">
    <fieldset>
      <legend>Login here</legend>
      <div class="hero-unit">
        
        <form action="/login" method="post">
          <p>Enter your username:
            <input name="username" type="text" /></p>
          <p>Enter your password:
            <input name="password" type="password" /></p>
          <p><input type="submit" class="btn btn-primary"/></p>
        </form>
        
        <a href="/login/login_to_qq">
          <img src="/static/img/qq.png" width="240" height=60" />
        </a><br /><br />
        
        <a href="/login/login_to_weibo">
        <img src="/static/img/weibo.png" width="240" height=60" />
        </a>
      </div>
    </fieldset>
  </div>
</div>
{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}